.storyboard3DRenderer {
  position: relative;
}

.storyboard3DRenderer .canvasWrap {
  margin-top: 16px;
  display: inline-block;
  background-color: #091319;
}

.storyboard3DRenderer .infoBox {
  position: absolute;
  top: 62px;
  left: 548px;
  color: #b7c5ca;
}

.storyboard3DRenderer .infoBox .layer {
  margin-bottom: 4px;
  display: list-item;
  margin-left: 14px;
  list-style: circle;
}

.storyboard3DRenderer .status {
  color: #64ce0d;
  margin-bottom: 8px;
  font-size: 18px;
}


.storyboard3DRenderer .canvasWrap canvas {
  border: 2px solid #1e3747;
  zoom: 0.5;
}

/* */

.storyboard3DRenderer .header {
  display: flex;
  align-items: center;
}
.storyboard3DRenderer .header .button {
  display: inline-block;
  font-size: 30px;
  padding: 10px;
  border: 3px solid currentColor;
  cursor: pointer;
}
.storyboard3DRenderer .header .button:hover {
  color: #FFF;
  background-color: #000;
  border-color: #000;
}

.storyboard3DRenderer canvas {
  width: 768px;
  height: 768px;
}

/* */

.storyboard3DRenderer .header input[type="text"] {
  width: 514px;
  margin-right: 30px;
  padding: 10px;
  border: 2px solid #1e3747;
  background: none;
  font-size: 18px;
  color: #b7c5ca;
  outline: none;
}

/* */

.storyboard3DRenderer .layers {
  display: flex;
}
.storyboard3DRenderer .layers .layer {
  width: 150px;
  height: 150px;
  margin-right: 5px;
  padding: 5px;
  background-color: #CCC;
  font-size: 12px;
  cursor: pointer;
}
.storyboard3DRenderer .layers .layer:hover,
.storyboard3DRenderer .layers .layer.selected
{
  background-color: #AAA;
}
.storyboard3DRenderer .layers .layer.selected {
  cursor: default;
}