.storyboard2DRenderer {
  position: relative;
}

.storyboard2DRenderer .imageWrap {
  margin-top: 16px;
  display: inline-block;
}

.storyboard2DRenderer .imageWrap canvas {
  border: 2px solid #1e3747;
  zoom: 0.5;
}

.storyboard2DRenderer .infoBox {
  position: absolute;
  top: 62px;
  left: 548px;
  color: #b7c5ca;
}

.storyboard2DRenderer .status {
  color: #ce840d;
  margin-bottom: 8px;
  font-size: 18px;
}

/* */

.storyboard2DRenderer .header {
  display: flex;
  align-items: center;
}
.storyboard2DRenderer .header .button {
  display: inline-block;
  font-size: 30px;
  padding: 10px;
  border: 3px solid currentColor;
  cursor: pointer;
}
.storyboard2DRenderer .header .button:hover {
  color: #FFF;
  background-color: #000;
  border-color: #000;
}

/* */

.storyboard2DRenderer .header input[type="text"] {
  width: 514px;
  margin-right: 30px;
  padding: 10px;
  border: 2px solid #1e3747;
  background: none;
  font-size: 18px;
  color: #b7c5ca;
}