.storyboard {
  top: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  background-color: #091319;
  padding: 16px;
  margin-left: auto;
}

.noPanelsText {
  text-align: center;
  color: #88989e;
  border: 2px dashed #162834;
  margin-top: 16px;
  padding: 8px 8px;
  font-size: 12px;
}

.noPanelsText:hover {
  color: #CE9B0E;
  border: 2px dashed #CE9B0E;
  cursor: pointer;
}

/* */

.storyboard .panel {
  position: relative;
  width: 142px;
  height: 142px;
  margin: 4px;
  padding: 4px;
  background-color: #091319;
  border: 2px solid #162834;
  overflow: hidden;
}
.storyboard .panel.selected {
  border-color: #CE9B0E;
}
.storyboard .panel .placeholder {
  display: block;
  width: 100%;
  background-color: none;
}

/* */

.storyboard .panel.busy .preview {
  opacity: 0.5;
}

/* */

.storyboard .panel .img {
  width: 100%;
  height: 100%;
  /* padding: 30px; */
}
.storyboard .panel .icon {
  position: absolute;
  top: 0;
  left: 0;
  padding: 30px;
}

/* */

.storyboard .buttons {
  padding: 3px;
  margin-top: -24px;
  display: flex;
}
.storyboard .button {
  margin:0 4px;
}