.storyboard3DRenderer {
  position: relative;
}

.storyboard3DRenderer::after {
  display: block;
  content: ' ';
  clear: both;
}

.storyboard3DRenderer .canvasWrap {
  margin-top: 16px;
  display: inline-block;
  background-color: #091319;
  float: left;
}

.storyboard3DRenderer .infoBox {
  color: #b7c5ca;
    float: left;
    margin-left: 32px;
    margin-top: 13px;
}

.storyboard3DRenderer .infoBox .layer {
  margin-bottom: 4px;
  float: left;
}

.storyboard3DRenderer .status {
  color: #64ce0d;
  margin-bottom: 8px;
  font-size: 18px;
}


.storyboard3DRenderer .canvasWrap canvas {
  border: 2px solid #1e3747;
  zoom: 0.5;
}

/* */

.storyboard3DRenderer .header {
  display: flex;
  align-items: center;
}
.storyboard3DRenderer .header .button {
  display: inline-block;
  font-size: 30px;
  padding: 10px;
  border: 3px solid currentColor;
  cursor: pointer;
}
.storyboard3DRenderer .header .button:hover {
  color: #FFF;
  background-color: #000;
  border-color: #000;
}
/*
.storyboard3DRenderer canvas {
  width: 768px;
  height: 768px;
}

/* */

.storyboard3DRenderer .header input[type="text"] {
  width: 514px;
  margin-right: 30px;
  padding: 10px;
  border: 2px solid #1e3747;
  background: none;
  font-size: 18px;
  color: #b7c5ca;
  outline: none;
}

/* */

.storyboard3DRenderer .layers {
  width: 340px;
}
.storyboard3DRenderer .layers::after {
  display: block;
  content: ' ';
  clear: both;
}
.storyboard3DRenderer .layers .layer {
  position: relative;
  width: 156px;
  height: 156px;
  margin: 0 4px 4px 0;
  padding: 4px;
  background-color: #091319;
  border: 2px solid #162834;
  overflow: hidden;
  cursor: pointer;
  font-size: 12px;
}
.storyboard3DRenderer .layers .layer:hover,
.storyboard3DRenderer .layers .layer.selected
{
  border-color: #CE9B0E;
}
.storyboard3DRenderer .layers .layer.selected {
  cursor: default;
}